<style>
    .container {width: 100%; margin: auto;}
    @media(min-width:600px) {.container{width: 80%;}}
    @media(min-width:768px) {.container{width: 60%;}}
    @media(min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
    <h2>Accepting gifts from a client in a competitive bidding process is ethically permissible.</h2>
    <form action="/answer" method="post">
        <p><input type ="radio" name="options" id="true" value="true">true</input></p>
        <p><input type ="radio" name="options" id="false" value="false">false</input></p>
        <p><input type="submit" value="Enter"></p>
    </form>
